body {
    font-family: "Roboto", "Helvetica";
    margin: 0;
}

.one {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    align-items: center;
}

.main {
    size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.secondary, h6 {
    size: 18px;
    color: #E5E7EB;
}

h3 {
    size: 24px;
    color: #F9FAF8;
    align-self: flex-start;
}

.header{
    display: flex;
    gap: 20px;
}
.hero {
    display: flex;
}
